/* You can add global styles to this file, and also import other style files */
.row,.col-sm-3,.col-sm-12{
    padding: 0 ;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-fluid{
    margin: 0;
    padding: 0;
}